body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, Sans-Serif;
	Color: #000088;
}

h1, h2, p {
	margin:0;
	padding:0;
}

#eta-label {
	margin-left: 2ex;
}

#cons-label {
	margin-left: 2ex;
}

#spin {
	vertical-align: middle;
}

#arret {
	background-color: #ff4040;
	border-radius: 20%;
	padding: 1em 1em;
}

#arret:disabled {
	background-color: #404040;
	cursor: not-allowed;
}

#wifi-img {
	vertical-align: middle;
	width: 3ex;
}

#content {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#content > div {
	margin: 10px;
}

@media screen and (min-resolution: 120dpi) {
	h1 {
	  font-size: 18vmin;
	  padding: 10px;
	}
	div, p, input {
	  font-size: 6vmin;
	  padding: 10px;
	}
	#spin {
		vertical-align: middle;
		width: 6ex;
	}
	#wifi-img {
		vertical-align: middle;
		width: 3ex;
	}
}
